/*HOME*/


.ukuran {
	float: right !important;
	height: 50px !important;
}
.right {
	margin-left: 600px !important;
}

.gambar {
margin-top:-100px !important; 
}

.wrn {
	color:white !important;
}

.gmb {

	height: 595px !important;
}


